.box
  .border
  .background
  .head
    .curl
    .eye
    .nose
    .jaw
  .neck
  .torso
    .logo
    .s S
  .arm-left-upper
  .arm-left-lower
  .hand-left
    .fingers
  .arm-right-upper
  .arm-right-lower
  .hand-right
    .fingers
  .belt
  .hips
  .leg-lower-left
  .leg-upper-left
  .leg-lower-right
  .leg-shadow
  .leg-upper-right
  .leg-upper-right-back
  .foot-right
  .foot-left
  .cape
    .shoulder-left
    .shoulder-right
  .cape-back
  .cape-middle-back
  .rock-bottom
  .rock-middle
  .rock-top