/*used*/
/*used*/
/*used*/
/*used*/
/*used*/
/*used*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #DF7C00;
}

.box {
  position: relative;
  width: 651px;
  height: 551px;
  background: #87CEEB;
  border: 5px solid white;
  margin: auto;
  margin-top: 2%;
  overflow: hidden;
}

.cap {
  position: absolute;
  width: 80%;
  height: 80%;
  bottom: 0%;
  left: 10%;
  z-index: 1;
}

.head {
  position: absolute;
  width: 9%;
  height: 10%;
  background: #182232;
  left: 40.3%;
  top: 8%;
  border-radius: 50% 40% 10% 10%;
  z-index: 1;
}

.head > .a {
  position: absolute;
  background: none;
  left: 32%;
  top: 16%;
  color: #eef4d4;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.face {
  position: absolute;
  width: 9%;
  height: 9%;
  background: #FAC8BF;
  left: 40.3%;
  top: 17%;
  -webkit-clip-path: polygon(0% 0%, 99% 0%, 99% 42%, 64% 100%, 39% 99%, 0% 43%);
  clip-path: polygon(0% 0%, 99% 0%, 99% 42%, 64% 100%, 39% 99%, 0% 43%);
  border-radius: 10%;
  border: 3px solid #182232;
  border-bottom: 3px solid #182232;
  z-index: 1;
}

.chin {
  position: absolute;
  width: 40%;
  height: 30%;
  background: #182232;
  border-radius: 50%;
  top: 86%;
  left: 30%;
}

.mask {
  position: absolute;
  width: 52%;
  height: 40%;
  border: 5px solid #182232;
  border-top: none;
  border-radius: 0 0 50% 50%;
  top: 0%;
  left: -1%;
}
.mask:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 5px solid #182232;
  border-top: none;
  border-radius: 0 0 50% 50%;
  top: -1%;
  left: 140%;
}

.eye-left {
  position: absolute;
  width: 25%;
  height: 18%;
  top: 2%;
  left: 12.5%;
  background: #FFFFFF;
  border-top: 1px solid #8F857D;
  border-radius: 25% 25% 50% 50%;
  z-index: 2;
}

.eye-right {
  position: absolute;
  width: 25%;
  height: 18%;
  top: 2%;
  right: 12.5%;
  background: #FFFFFF;
  border-top: 1px solid #8F857D;
  border-radius: 25% 25% 50% 50%;
  z-index: 2;
}

.iris {
  position: absolute;
  width: 80%;
  height: 90%;
  background: -webkit-radial-gradient(circle, #000300 0%, #8f857d 30%, #87ceeb 40%, #eef4d4 98%);
  background: radial-gradient(circle, #000300 0%, #8f857d 30%, #87ceeb 40%, #eef4d4 98%);
  border-radius: 50%;
  top: 5%;
  left: 10%;
  z-index: 3;
}

.nose {
  position: absolute;
  width: 20%;
  height: 22%;
  border: 2px solid #EBBCB3;
  border-top: none;
  border-radius: 5% 5% 40% 40%;
  top: 38%;
  left: 40%;
  box-shadow: 0px 1px 1px #4D3733;
}

.mouth {
  position: absolute;
  width: 40%;
  height: 15%;
  border-top: 2px solid #A17D7F;
  border-radius: 100%;
  top: 75%;
  left: 30%;
}

.neck {
  position: absolute;
  width: 10%;
  height: 5%;
  background: #182232;
  border-radius: 50%;
  border-top: 1px solid #121A26;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  left: 46%;
  top: 16%;
}

.shoulders {
  position: absolute;
  width: 26%;
  height: 11%;
  background: #182232;
  border: 1px solid #121A26;
  border-top: none;
  border-radius: 50%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  left: 35%;
  top: 17%;
  z-index: 0;
}

.left-arm-upper {
  position: absolute;
  width: 4%;
  height: 10%;
  background: #182232;
  border-radius: 35% 50% 0 55%;
  border: 1px solid #121A26;
  border-right: 1px solid #6F1614;
  left: 35.2%;
  top: 17%;
  z-index: 1;
}

.left-arm-lower {
  position: absolute;
  width: 11.75%;
  height: 7%;
  background: #182232;
  border-radius: 10% 0 20% 15%;
  border-right: 4px solid #121A26;
  border-left: 1px solid #121A26;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 29%;
  top: 25%;
  z-index: -1;
}

.left-wrist {
  position: absolute;
  width: 2%;
  height: 6%;
  background: #6F1614;
  border-radius: 25%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  top: 30.25%;
  left: 29%;
}

.left-fist {
  position: absolute;
  width: 5%;
  height: 7%;
  background: -webkit-linear-gradient(#4D3733 0%, #6F1614 3%, #6F1614 25%, #4D3733 25%, #000300 26%, #6F1614 30%, #6F1614 50%, #4D3733 50%, #000300 51%, #6F1614 55%, #6F1614 75%, #614D40 75%, #000300 76%, #6F1614 80%, #6F1614 100%);
  background: linear-gradient(#4D3733 0%, #6F1614 3%, #6F1614 25%, #4D3733 25%, #000300 26%, #6F1614 30%, #6F1614 50%, #4D3733 50%, #000300 51%, #6F1614 55%, #6F1614 75%, #614D40 75%, #000300 76%, #6F1614 80%, #6F1614 100%);
  border-radius: 40%;
  border-left: 7px solid #6F1614;
  box-shadow: 1px 0px 2px #531115;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  top: 32%;
  left: 25.5%;
}

.left-thumb {
  position: absolute;
  width: 1.5%;
  height: 2%;
  background: #6F1614;
  border: 1px solid #4D3733;
  border-left: none;
  border-top: none;
  border-radius: 15% 15% 50% 50%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  box-shadow: 0px 0px 1px #000300;
  top: 31%;
  left: 27%;
}
.left-thumb:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-top: 9px solid transparent;
  border-right: 7px solid #6F1614;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: -11%;
  left: -200%;
}

.right-arm-upper {
  position: absolute;
  width: 8%;
  height: 13%;
  background: #182232;
  border-right: 1px solid #182232;
  border-radius: 0 50% 20% 0;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  right: 39%;
  top: 21%;
  z-index: -1;
}

.pecs {
  position: absolute;
  width: 18%;
  height: 10%;
  background: #182232;
  border-radius: 0 0 0 50%;
  border: 1px solid #121A26;
  border-top: none;
  -webkit-transform: rotate(13deg);
          transform: rotate(13deg);
  left: 38%;
  top: 26%;
  z-index: 3;
}

.pecs > .fa-star {
  position: absolute;
  font-size: 2.2em;
  color: #eef4d4;
  left: 21%;
  z-index: 3;
  bottom: 0%;
  -webkit-transform: rotate(-10deg) skew(10deg, 5deg);
          transform: rotate(-10deg) skew(10deg, 5deg);
}

.red-accent-left {
  position: absolute;
  width: 49%;
  height: 50%;
  border-radius: 50%;
  border-bottom: 3px solid #6F1614;
  border-top: none;
  bottom: 60%;
  left: -5%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.red-accent-left:before {
  position: absolute;
  content: "";
  width: 25%;
  height: 200%;
  border-radius: 50%;
  border-right: 4px solid #6F1614;
  border-top: none;
  bottom: 60%;
  left: 116%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.red-accent-right {
  position: absolute;
  width: 10%;
  height: 100%;
  border-radius: 50%;
  border-right: 4px solid #6F1614;
  top: 5%;
  right: 20%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 4;
}

.abs {
  position: absolute;
  width: 10%;
  height: 15%;
  background: #eef4d4;
  border-left: 11px solid #6F1614;
  top: 32%;
  left: 40%;
  z-index: 2;
}

.leg-left-upper {
  position: absolute;
  width: 10%;
  height: 20%;
  background: #182232;
  border-radius: 50% 0 60%;
  border-right: 6px solid #121A26;
  border-left: 1px solid #121A26;
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
  left: 34%;
  top: 50%;
}

.knee-left {
  position: absolute;
  width: 8%;
  height: 9%;
  background: #182232;
  border-radius: 0 0 30% 30%;
  border-left: 1px solid #121A26;
  border-right: 4px solid #121A26;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  top: 64%;
  left: 30%;
}

.leg-left-lower {
  position: absolute;
  width: 8%;
  height: 10%;
  background: #182232;
  border-radius: 0 10% 30% 30%;
  border: 1px solid #121A26;
  border-top: none;
  border-right: 3px solid #121A26;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  top: 70%;
  left: 26.75%;
}

.boot-upper-left {
  position: absolute;
  width: 8%;
  height: 10%;
  background: #614D40;
  border-radius: 0 0 90% 65%;
  border-left: 1px solid #4D3733;
  border-right: 4px solid #4D3733;
  border-top: 8px dashed #6F1614;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  box-shadow: 0px -2px 4px #4D3733;
  top: 77%;
  left: 24%;
}

.boot-lower-left {
  position: absolute;
  width: 6%;
  height: 10%;
  background: #614D40;
  border-left: 2px solid #4D3733;
  border-right: 4px solid #4D3733;
  border-radius: 0 0 100% 10%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  top: 83%;
  left: 23%;
}

.boot-detail-left-red {
  position: absolute;
  width: 3%;
  height: 7%;
  border-top: 4px solid #6F1614;
  border-radius: 100% 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  bottom: 0%;
  left: 20%;
  z-index: 3;
}
.boot-detail-left-red:before, .boot-detail-left-red:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}
.boot-detail-left-red:before {
  border-left: 4px solid #6F1614;
  border-radius: 0 0 0 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 20%;
  left: 80%;
}
.boot-detail-left-red:after {
  border-bottom: 4px solid #6F1614;
  bottom: 70%;
  left: 120%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.boot-detail-left-brown {
  position: absolute;
  width: 2%;
  height: 19%;
  background: #614D40;
  border: 1px solid #4D3733;
  border-right: 2px solid #4D3733;
  border-radius: 15% 15% 50% 15%;
  -webkit-transform: rotate(23deg);
          transform: rotate(23deg);
  top: 76.25%;
  left: 25%;
  z-index: 3;
}

.heel-left {
  position: absolute;
  width: 3%;
  height: 9%;
  background: #614D40;
  border-left: 1px solid #4D3733;
  border-right: 3px solid #4D3733;
  border-bottom: 3px solid #000300;
  border-radius: 30%;
  bottom: 1%;
  left: 25%;
}

.toes-left {
  position: absolute;
  width: 6%;
  height: 9%;
  border-left: 3px solid #4D3733;
  border-bottom: 2px solid #000300;
  background: #614D40;
  border-radius: 100% 30% 0 0;
  bottom: 0%;
  left: 20%;
}

.sole-left {
  position: absolute;
  width: 6%;
  height: 5%;
  background: #4D3733;
  border-top: 2px solid #4D3733;
  border-bottom: 2px solid #000300;
  border-radius: 50% 50% 0 20%;
  bottom: 0%;
  left: 19%;
  z-index: 4;
}

.shield {
  position: absolute;
  width: 35%;
  height: 42%;
  border-radius: 50%;
  background: #531115;
  top: 31%;
  left: 37%;
  overflow: hidden;
  z-index: 4;
}
.shield:before {
  position: absolute;
  content: "";
  top: 50%;
  left: -5%;
  width: 110%;
  height: 5%;
  opacity: .5;
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
  background: -webkit-linear-gradient(bottom, transparent 0%, transparent 10%, rgba(255, 255, 255, 0.13) 30%, rgba(255, 255, 255, 0.23) 77%, rgba(255, 255, 255, 0.15) 92%, rgba(255, 255, 255, 0.1) 100%);
  background: linear-gradient(to top, transparent 0%, transparent 10%, rgba(255, 255, 255, 0.13) 30%, rgba(255, 255, 255, 0.23) 77%, rgba(255, 255, 255, 0.15) 92%, rgba(255, 255, 255, 0.1) 100%);
  z-index: 5;
}

.shield-white {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 1px solid #eef4d4;
  background: #eef4d4;
  top: 10%;
  left: 10%;
}

.shield-red {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 1px solid #531115;
  background: #531115;
  top: 10%;
  left: 10%;
}

.shield-blue {
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 1px solid #0857A0;
  background: #0857A0;
  top: 15%;
  left: 15%;
}

.shield-blue > .fa-star {
  position: absolute;
  font-size: 4.75em;
  color: #eef4d4;
  left: 2%;
  z-index: 3;
  bottom: 1%;
}

.knee-right {
  position: absolute;
  width: 7.75%;
  height: 9%;
  background: #182232;
  border-right: 1px solid #182232;
  border-left: 4px solid #182232;
  border-bottom-right-radius: 10%;
  -webkit-transform: rotate(-34deg);
          transform: rotate(-34deg);
  top: 67%;
  right: 29.25%;
}

.leg-right-lower {
  position: absolute;
  width: 8%;
  height: 7%;
  background: #182232;
  border-right: 1px solid #182232;
  border-left: 4px solid #182232;
  border-radius: 20% 20% 30% 30%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  top: 74%;
  right: 26%;
}

.boot-upper-right {
  position: absolute;
  width: 8%;
  height: 10%;
  background: #614D40;
  border-radius: 0 0 65% 90%;
  border-right: 1px solid #4D3733;
  border-left: 4px solid #4D3733;
  border-top: 8px dashed #6F1614;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  box-shadow: 0px -2px 4px #4D3733;
  top: 77%;
  right: 24%;
}

.boot-lower-right {
  position: absolute;
  width: 6%;
  height: 10%;
  background: #614D40;
  border-right: 2px solid #4D3733;
  border-left: 4px solid #4D3733;
  border-radius: 0 0 10% 100%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  top: 83%;
  right: 23%;
}

.boot-detail-right-red {
  position: absolute;
  width: 3%;
  height: 7%;
  border-top: 4px solid #6F1614;
  border-radius: 0 100%;
  bottom: 0%;
  right: 20%;
  z-index: 3;
}
.boot-detail-right-red:before, .boot-detail-right-red:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}
.boot-detail-right-red:before {
  border-right: 4px solid #6F1614;
  border-radius: 0 0 100% 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  bottom: 20%;
  right: 80%;
}
.boot-detail-right-red:after {
  border-bottom: 4px solid #6F1614;
  bottom: 70%;
  right: 125%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.boot-detail-right-brown {
  position: absolute;
  width: 2%;
  height: 19%;
  background: #614D40;
  border: 1px solid #4D3733;
  border-left: 2px solid #4D3733;
  border-radius: 15% 15% 15% 50%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  top: 76.25%;
  right: 25%;
  z-index: 3;
}

.heel-right {
  position: absolute;
  width: 3%;
  height: 9%;
  background: #614D40;
  border-right: 1px solid #4D3733;
  border-left: 3px solid #4D3733;
  border-bottom: 3px solid #000300;
  border-radius: 30%;
  bottom: 1%;
  right: 25%;
}

.toes-right {
  position: absolute;
  width: 6%;
  height: 9%;
  border-right: 3px solid #4D3733;
  border-bottom: 2px solid #000300;
  background: #614D40;
  border-radius: 30% 100% 0 0;
  bottom: 0%;
  right: 20%;
}

.sole-right {
  position: absolute;
  width: 6%;
  height: 5%;
  background: #4D3733;
  border-top: 2px solid #4D3733;
  border-bottom: 2px solid #000300;
  border-radius: 50% 50% 20% 0;
  bottom: 0%;
  right: 19%;
  z-index: 4;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.ray {
  position: absolute;
  width: 18%;
  height: 125%;
  background: -webkit-linear-gradient(top, transparent, #eef4d4 98%);
  background: linear-gradient(-180deg, transparent, #eef4d4 98%);
  -webkit-clip-path: polygon(25% 100%, 75% 100%, 90% 0, 10% 0);
  clip-path: polygon(25% 100%, 75% 100%, 90% 0, 10% 0);
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  bottom: -11.5%;
  left: 22%;
}
.ray:nth-child(2) {
  -webkit-transform: scaleX(-1) rotate(-30deg);
          transform: scaleX(-1) rotate(-30deg);
  left: 60%;
}
.ray:nth-child(3) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  left: -1.75%;
}
.ray:nth-child(4) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  left: 83.8%;
}

.plane {
  position: absolute;
  width: 30%;
  height: 13%;
  -webkit-transform: skew(10deg, 0deg);
          transform: skew(10deg, 0deg);
  left: 35%;
  top: 2%;
}
.plane:nth-child(5) {
  top: 10%;
  left: 20%;
  width: 25%;
  height: 10%;
}
.plane:nth-child(6) {
  top: 10%;
  left: 55%;
  width: 25%;
  height: 10%;
}
.plane:nth-child(7) {
  top: 20%;
  left: 40%;
  width: 20%;
  height: 7%;
}
.plane:nth-child(8) {
  top: 20%;
  left: 10%;
  width: 20%;
  height: 7%;
}
.plane:nth-child(9) {
  top: 20%;
  left: 70%;
  width: 20%;
  height: 7%;
}
.plane:nth-child(10) {
  top: 30%;
  left: 5%;
  width: 15%;
  height: 4%;
}
.plane:nth-child(11) {
  top: 30%;
  left: 25%;
  width: 15%;
  height: 4%;
}
.plane:nth-child(12) {
  top: 30%;
  left: 45%;
  width: 15%;
  height: 4%;
}
.plane:nth-child(13) {
  top: 30%;
  left: 65%;
  width: 15%;
  height: 4%;
}
.plane:nth-child(14) {
  top: 30%;
  left: 85%;
  width: 15%;
  height: 4%;
}

.plane-body {
  position: absolute;
  width: 7%;
  height: 100%;
  background: #8F857D;
  border-radius: 50% 50% 100% 100%;
  border-right: 2px solid #eef4d4;
  left: 46.25%;
}

.plane-wing-lg {
  position: absolute;
  width: 65%;
  height: 30%;
  background: #8F857D;
  border-radius: 0% 0% 100% 100%;
  top: 25%;
  border-right: 2px solid #eef4d4;
  left: 17.5%;
}

.plane-wing-sm {
  position: absolute;
  width: 32.5%;
  height: 15%;
  background: #8F857D;
  border-radius: 0% 0% 100% 100%;
  border-right: 2px solid #eef4d4;
  top: 75%;
  left: 33.75%;
}
