.box
  .head
    .eye-left
    .eyeball-left
      .pupil
    .eye-right
    .eyeball-right
      .pupil
    .mouth
  .hair
  .ear-left
  .ear-right
  .nose
  .neck
  .torso
    .collar-left
    .collar-right
    .tie
    .pocket
      .hem
    .pocket
      .hem
  .sleeve-left
  .sleeve-right
  .arm-left
  .arm-right
  .hand
  .fingers-long
  .legs
  .shoes
  .red-on-you