.box
  .reference
  .cap
    .head
      .a A
    .face
      .chin
      .mask
      .eye-left
        .iris
      .eye-right
        .iris
      .nose
      .mouth
    .neck
    .shoulders
      .red-accent-right
    .left-arm-upper
    .left-arm-lower
    .left-wrist
    .left-fist
    .left-thumb
    .right-arm-upper
    .pecs
      .fa.fa-star
      .red-accent-left
    .abs
    .shield
      .shield-white
        .shield-red
          .shield-blue
            .fa.fa-star
    .leg-left-upper
    .knee-left
    .leg-left-lower
    .boot-upper-left
    .boot-lower-left
    .boot-detail-left-red
    .boot-detail-left-brown
    .heel-left
    .toes-left
    .sole-left
    .knee-right
    .leg-right-lower
    .boot-upper-right
    .boot-lower-right
    .boot-detail-right-red
    .boot-detail-right-brown
    .heel-right
    .toes-right
    .sole-right
  .background
    .ray
    .ray
    .ray
    .ray
    .plane
       .plane-body
       .plane-wing-lg
       .plane-wing-sm
    .plane
       .plane-body
       .plane-wing-lg
       .plane-wing-sm
    .plane
       .plane-body
       .plane-wing-lg
       .plane-wing-sm
    .plane
       .plane-body
       .plane-wing-lg
       .plane-wing-sm
    .plane
       .plane-body
       .plane-wing-lg
       .plane-wing-sm
    .plane
       .plane-body
       .plane-wing-lg
       .plane-wing-sm
    .plane
       .plane-body
       .plane-wing-lg
       .plane-wing-sm
    .plane
       .plane-body
       .plane-wing-lg
       .plane-wing-sm
    .plane
       .plane-body
       .plane-wing-lg
       .plane-wing-sm
    .plane
       .plane-body
       .plane-wing-lg
       .plane-wing-sm
    .plane
       .plane-body
       .plane-wing-lg
       .plane-wing-sm