.box  
  .horn-left
  .horn-tip-left
  .horn-right
  .horn-tip-right
  .torso
    .eye
      .iris
        .pupil
    .mouth
      .teeth-upper
      .teeth-upper
      .teeth-upper
      .teeth-upper
      .teeth-upper
      .teeth-upper
      .teeth-upper
      .teeth-lower
      .teeth-lower
      .teeth-lower
      .teeth-lower
      .teeth-lower
  .arm-left-lower
  .arm-left-upper
  .hand-left
  .thumb-left
  .fingers-left
  .arm-right-lower
  .arm-right-upper
  .hand-right
  .thumb-right
  .fingers-right
  .leg-left-upper
  .leg-left-lower
  .foot-left
  .foot-right
  .claws-left
  .claws-left
  .claws-left
  .leg-right-upper
  .leg-right-lower
  .foot-right
  .claws-right
  .claws-right
  .claws-right