.box
  .background
    .grad
  .reference
  .iron-man
    .head
      .eye-left
      .eye-glow-left
      .eye-right
      .eye-glow-right
      .cheek-left
      .cheek-right
      .chin
      .mouth
      .forehead
    .neck
    .chest-upper
    .shoulder-left
    .upper-arm-left
    .lower-arm-left
    .lower-arm-left-outer
    .wrist-left
    .hand-left
    .thumb-left
    .repulsor-left
    .repulsor-burst-left
    .repulsor-beam-left
    .shoulder-right
    .upper-arm-right
    .lower-arm-right
    .lower-arm-right-outer
    .wrist-right
    .hand-right
    .thumb-right
    .repulsor-right
    .repulsor-burst-right
    .repulsor-beam-right
    .torso
       .arc-reactor
         .arc-glow
    .waist
    .hips
    .leg-upper-left
    .knee-left
    .leg-lower-left
    .ankle-left-upper
    .ankle-left-lower
    .foot-left-upper
    .foot-left-lower
    .leg-upper-right
    .knee-right
    .leg-lower-right
    .ankle-right-upper
    .ankle-right-lower
    .foot-right-upper
    .foot-right-lower
    .repulsor-burst-feet
    .repulsor-beam-feet