.box
  .head
    .eyebrow-left
    .eyebrow-right
    .nose
    .eye-left
      .iris
    .eye-right
      .iris
    .mouth
      .fang-left-1
      .fang-left-2
      .fang-right-1
      .fang-right-2
  .ear-left
  .ear-inner-left
  .ear-right
  .ear-inner-right