<body>
<div class="box">
  <div class="clock-outer">
    <div class="clock-inner">
      <div class="clock-display" id="clockDisplay">
      </div>
      <div class="screen">
      </div>
    </div>
    <div class="clock-top">
    </div>
    <div class="clock-side">
      </div>
  </div>
</div>
</body>