.box
  .bun-bottom
  .bun-top
  .patty-1
  .cheese
  .cheese
  .patty-2
  .bacon-container
    .bacon-up
    .bacon-down
  .lettuce-container
    .lettuce-1
    .lettuce-2
    .lettuce-3
    .lettuce-4
  .tomato-left
  .tomato-right