//colors
$nightsky: #141B26;
$moon: #f5f3ce;
$fur: #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  z-index:0;
}

.box {
  position: relative;
  width: 840px;
  height: 540px;
  background: transparent;
  background: $nightsky url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
  margin: auto;
  margin-top: 2%;
}

.moon {
  position: absolute;
  width: 16%;
  height: 24%;
  background: $moon;
  border-radius: 50%;
  -moz-box-shadow: 0 0 125px $moon;
  -webkit-box-shadow: 0 0 125px $moon;
  box-shadow: 0px 0px 125px $moon;
  left: 80%;
  top: 5%;
  z-index: 1;
}

.wolf {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
  left: 25%;
  z-index: 1;
  background-size: 360px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.head {
  position: absolute;
  border: 2px solid $fur;
  width: 22%;
  height: 13.5%;
  background: $fur;
  top: 22.5%;
  left: 39%;
  border-radius: 50% 51% 65% 0;
}

.jaw-top {
  position: absolute;
  width: 16%;
  height: 8%;
  background: $fur;
  border-radius: 0% 40% 75% 0%;
  top: 18.5%;
  left: 47%;
  transform: rotate(-56deg);
}

.jaw-bottom {
  position: absolute;
  width: 16%;
  height: 4%;
  background: $fur;
  border-radius: 0% 40% 75% 0%;
  top: 26%;
  left: 51%;
  transform: rotate(-26deg);
  z-index: 2;
}

.fang-upper {
  position: absolute;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid $fur;
  top: 82%;
  left: 72%;
  transform: rotate(-15deg);
}

.fang-lower {
  position: absolute;
	width: 0;
	height: 0;
	border-right: 3px solid transparent;
	border-left: 5px solid transparent;
	border-bottom: 6px solid $fur;
  bottom: 88%;
  left: 72%;
}

.ear {
  position: absolute;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 25px solid transparent;
	border-top: 38px solid $fur;
  top: 29.83%;
  left: 28%;
  transform: rotate(-24deg);
  border-radius: 25%;
}

.neck {
  position: absolute;
  width: 16%;
  height: 11%;
  background: $fur;
  top: 33%;
  left: 42%;
  border-radius: 50% 0;
}

.left-arm-lower {
  position: absolute;
  width: 30%;
  height: 8%;
  background: $fur;
  border-radius: 40%;
  left: 49%;
  top: 43.5%;
  transform: rotate(75deg);
}

.left-arm-upper {
  position: absolute;
  width: 30%;
  height: 6%;
  background: $fur;
  border-radius: 40%;
  left: 62%;
  top: 48%;
  transform: rotate(-40deg);
}

.left-hand {
  position: absolute;
  width: 12%;
  height: 10%;
  border-radius: 40% 50% 40% 65%;
  border-bottom: 12px solid $fur;
  border-right: 10px solid $fur;
  left: 80%;
  top: 35%;
  transform: rotate(15deg);
}

.left-fingers {
  position: absolute;
  width: 14%;
  height: 10%;
  border-radius: 40% 50% 40% 65%;
  border-right: 10px solid $fur;
  left: 80%;
  top: 35%;
  transform: rotate(40deg);
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 40% 50% 40% 65%;
    border-right: 10px solid $fur;
    left: -25%;
    top: 25%;
  }
}

.torso-upper {
  position: absolute;
  width: 26%;
  height: 20%;
  background: $fur;
  top: 37%;
  left: 38%;
  transform: skewY(-20deg);
  border-radius: 21% 50% 100% 15%;
}

.torso-lower {
  position: absolute;
  width: 19%;
  height: 20%;
  background: $fur;
  top: 44.5%;
  left: 24%;
  transform: skewY(-38deg);
  border-radius: 40% 14% 16% 30%;
}

.hips {
  position: absolute;
  width: 15%;
  height: 14%;
  background: $fur;
  top: 55%;
  left: 22.75%;
  border-radius: 45%;
}

.left-leg-upper {
  position: absolute;
  width: 43%;
  height: 11%;
  background: $fur;
  top: 57.5%;
  left: 24%;
  transform: rotate(-10deg);
  border-radius: 50% 75% 31% 50%;
}

.left-leg-lower {
  position: absolute;
  width: 10%;
  height: 27%;
  background: $fur;
  top: 57%;
  left: 49%;
  transform: rotate(51deg);
  border-radius: 50% 75% 18% 100%;
}

.left-heel {
  position: absolute;
  width: 6%;
  height: 10%;
  background: $fur;
  top: 75%;
  left: 39%;
  border-radius: 100% 0% 100% 50%;
  transform: rotate(49deg);
}

.left-foot {
  position: absolute;
  width: 15%;
  height: 4%;
  background: $fur;
  top: 82%;
  left: 35.25%;
  border-radius: 40% 40% 40% 100%;
  transform: rotate(19deg);
}

.left-toes {
  position: absolute;
  width: 11%;
  height: 4%;
  background: $fur;
  top: 84.75%;
  left: 46%;
  border-radius: 10% 100% 10% 80%;
  transform: rotate(-10deg);
}

.left-claws {
  position: absolute;
  width: 7%;
  height: 7%;
  border-top: 4px solid $fur;
  border-radius: 50%;
  top: 85.25%;
  left: 52%;
  transform: rotate(0deg);
}

.right-leg-upper {
  position: absolute;
  width: 16%;
  height: 27%;
  background: $fur;
  top: 57.5%;
  left: 29%;
  transform: rotate(-20deg);
  border-radius: 50% 75% 21% 50%;
}

.right-leg-lower {
  position: absolute;
  width: 32%;
  height: 6%;
  background: $fur;
  top: 77%;
  left: 17%;
  transform: rotate(12deg);
  border-radius: 50% 54% 50% 30%;
}

.right-heel {
  position: absolute;
  width: 13%;
  height: 5%;
  background: $fur;
  top: 75%;
  left: 8.5%;
  border-radius: 60% 0 100% 50%;
  transform: rotate(19deg);
}

.right-foot {
  position: absolute;
  width: 8%;
  height: 12%;
  border-left: 22px solid $fur;
  border-right: 18px solid transparent;
  border-bottom: 50px solid transparent;
  top: 75%;
  left: 8%;
  border-radius: 25%;
  transform: rotate(0deg);
}

.right-toes {
  position: absolute;
  width: 3.25%;
  height: 6%;
  background: $fur;
  border-radius: 25%;
  top: 84.75%;
  left: 10.5%;
  transform: rotate(-50deg);
}

.right-claws {
  position: absolute;
  width: 4%;
  height: 5%;
  border-top: 4px solid $fur;
  border-radius: 50%;
  top: 87.4%;
  left: 12.5%;
  transform: rotate(4deg);
}

.ground {
  position: absolute;
  width: 100%;
  height: 12.25%;
  background: #000000;
  border-radius: 50% 50% 0 0;
  bottom: 0%;
  transform: rotate(0deg);
}

.back-ground {
  position: absolute;
  width: 100%;
  height: 11.25%;
  background: #000000;
  border-radius: 50% 50% 0 0;
  bottom: 0%;
  transform: rotate(0deg);
}