.box
  .ruler-back
  .ruler
    .cm-wrapper
    .half-cm-wrapper
    .mm-wrapper
    .numbers
       span 0
       span 1
       span 2
       span 3
       span 4
       span 5
       span 6
       span 7
       span 8
       span 9
       span 10