.box
  .dory-body
    - for (var i = 0; i < 6; i++)
      .eye
        .iris
        .pupil
      .eyelid-lower
      .eyelid-upper
    .freckles-bottom
    .freckles-top
    .mouth
    .dory-body-copy
  .head
  .crest-left
  .crest-right
  .upper-fin-left
    .fin-stripe-curved-left
  .upper-fin-right
    .fin-stripe-curved-right
