.box
  .filling
    .cherries
    .cherries
    .cherries
    .cherries
    .cherries
    .cherries
    .cherries
    .cherries
    .cherries
    .cherries
  .tin
  .top-crust
    .strip-center-v
    .strips-left-v
    .strips-right-v
    .strip-h-center-sm-top
    .strip-h-left-med-top 
    .strip-h-center-sm-bottom
    .strip-h-left-med-bottom 
    .strip-h-center-md-center
  .shadow