.box
  .building-sm
  .building-med
  .building-lg
  .green-lantern
    .hair-upper
    .hair-lower
    .neck
    .head
      .mouth
    .mask
      .eye-left
      .eye-right  
  .torso
      .logo
        .bar-upper
        .circle
        .bar-lower
  .arm-left-lower
  .arm-left-upper  
  .wrist-left
  .hand-left
    .ring
      .logo
        .bar-upper
        .circle-sm
        .bar-lower
  .arm-right-upper
  .arm-right-lower
  .hand-right
  .leg-left
  .leg-right
  .foot-right
  .foot-left
  .ring-glow