.box
  .background-arch
  .background-arch-inner
  .background-arch-outer
  .frame-top-upper
  .frame-top-lower
  .frame-side-outer-left
  .frame-side-inner-left
  .frame-side-outer-right
  .frame-side-inner-right
  .wolverine
    .head
    .mask-upper
    .mask-upper-front
      .eye
    .mask-lower-front
    .jaw
      .mouth
      .stubble ::.::::::.::::::.:::::.::::::::.::::::.::::::.:::::.::::::::.::::::
    .neck
    .chest
      .stripe-left
      .stripe-center
      .stripe-right
    .shoulder
    .arm-upper
    .hand
      .fingers
    .claw-sheath
    .claws
    .wrist