.box
  .crust
    .sauce
    .pepperoni
    .pepperoni
    .pepperoni
    .bacon
    .bacon
    .bacon
    .olives-container
      .olives
      .olives
      .olives
    .olives-container
      .olives
      .olives
      .olives
    .olives-container
      .olives
      .olives
      .olives
    .green-pepper
    .green-pepper
    .green-pepper
    .green-pepper
    .cheese
    .cheese-2
    .cheese-2
    .cheese-2
    .cheese-2
    .cheese-2
    .cheese-2