.box
  .hair-left
  .hair-right
  .face
    .forehead
    .scar1  
    .staple-sm-left
    .staple-sm-center
    .staple-sm-right
    .staple-lg-left
    .staple-lg-right
    .staple-md-top
    .staple-md-bottom
    .brow-ridge
    .eye-left
      .pupil
    .eye-right
      .pupil
    .nose-upper
    .nose-lower
      .nostrils
    .scar2
    .mouth
  .ear-left
  .ear-right
  .bolt-left
    .bolt-end
  .bolt-right
    .bolt-top
  .neck-top
  .neck-bottom