.box
  .elastic
  .clip-wrapper
    .paper-clip
  .clip-wrapper
    .paper-clip
  .clip-wrapper
    .paper-clip
  .jar
    .top
    .bottom
  .pencil-body
    .pencil-facet
    .eraser-ring
    .eraser
    .tip-wood
     .tip-container
        .triangle
  .pencil-body-2
    .pencil-facet
    .eraser-ring
    .eraser
    .tip-wood
     .tip-container
        .triangle
  .pencil-body-3
    .pencil-facet
    .eraser-ring
    .eraser
    .tip-wood
     .tip-container
        .triangle