.box
  .moon
  .wolf
    .head
    .jaw-top
      .fang-upper
    .jaw-bottom
      .fang-lower
    .ear
    .neck
    .left-arm-lower
    .left-arm-upper
    .left-hand
    .left-fingers
    .torso-upper
    .torso-lower
    .hips
    .left-leg-upper
    .left-leg-lower
    .left-heel
    .left-foot
    .left-toes
    .left-claws
    .right-arm-upper
    .right-arm-lower
    .right-hand
    .right-fingers
    .right-leg-upper
    .right-leg-lower
    .right-heel
    .right-foot
    .right-toes
    .right-claws
    .ground
  .back-ground