.box
  .head
    .head-copy
    .ear-left
      .inner-ear
    .ear-right
      .inner-ear
    .eye-left
      .iris
      .pupil
    .eye-right
      .iris
      .pupil
    .nose
    .mouth
    .tooth-left
    .tooth-right