//colors
$background: #FF8247; /*sienna1*/
$glass: #F6F9ED; /*frosted lime*/
$glass-dark: #C1CDCD; /*azure3*/
$glass-border: #CDC0B0; /*antiquewhite3*/
$inner-shadow: #F0F8FF; /*aliceblue*/
$shadow: #8B8378; /*antiquewhite4*/
$pencil: #FFA500; /*orange*/
$aluminum: #CDC8B1; /*cornsilk3*/
$red: #CD5555; /*indianred3*/
$brown: #FFD39B; /*burleywood1*/
$dark-gray: #3D3D3D; /*gray25*/
$light-brown: #F4A460; /*sandy brown*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
}

.box {
  position: relative;
  width: 600px;
  height: 500px;
  margin: 4% auto;
}

.elastic {
  position: absolute;
  width: 12%;
  height: 25%;
  right: 34%;
  bottom: 5%;
  border-radius: 100% 30%;
  border: 16px solid $light-brown;
  z-index: 1;
}

.clip-wrapper {
  position: absolute;
  width: 5%;
  height: 20%;
  left: 35%;
  bottom: 5.5%;
  transform: rotate(-25deg);
  &:nth-child(2) {
    transform: rotate(100deg);
    left: 36%;
    z-index: 1;
    bottom: 0;
  }
  &:nth-child(3) {
    transform: rotate(25deg);
  }
}

.paper-clip:before {
    width: 70%;
    height: 80%;
    content: " ";
    background: transparent;
    display: block;
    position: absolute;
    left: 0%;
    top: 4%;
    border-radius: 10px;
    border: 2px solid $aluminum;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.paper-clip {
    background: transparent;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid $aluminum;
    display: inline-block;
    position: absolute;
}

.jar {
  position: absolute;
  width: 40%;
  height: 70%;
  background-color: $glass;
  opacity: .5;
  bottom: 5%;
  left: 27.5%;
  -moz-border-bottom-left-radius: 10% 10% 20% 20%;
	-webkit-border-bottom-left-radius: 10% 10% 20% 20%;
	border-radius: 10% 10% 20% 20%;
  border-bottom: 2px solid $glass-border;
  box-shadow: 1px 0 2px $shadow;
  z-index: 1;
}

/*.jar > .top {
  position: relative;
  width: 90%;
  height: 25%;
  margin: auto;
  background-color: transparent;
  border-bottom: 2px solid $glass-border;
  -moz-border-radius: 100% / 50%;
	-webkit-border-radius: 100% / 50%;
	border-radius: 100% / 50%;
  z-index: 4;
}*/

.bottom {
  position: absolute;
  width: 60%;
  height: 2%;
  background: $glass-dark;
  border-top: 1px solid $glass-border;
  box-shadow: 1px 0 2px $shadow;
  bottom: -2%;
  left: 20%;
  z-index: 3;
}

.pencil-body {
  position: absolute;
  width: 3.75%;
  height: 80%;
  bottom: 13%;
  background-color: $pencil;
  left: 50%;
  z-index: 0;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.pencil-body-2 {
  position: absolute;
  width: 3.75%;
  height: 80%;
  bottom: 14.1%;
  background-color: $pencil;
  left: 57%;
  z-index: 0;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.pencil-body-3 {
  position: absolute;
  width: 3.75%;
  height: 80%;
  bottom: 12%;
  background-color: $pencil;
  left: 38%;
  z-index: 0;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.pencil-facet {
  position: absolute;
  width: 45%;
  height: 100%;
  top: 0%;
  background-color: $pencil;
  border: 1px solid rgba(250, 250, 250, 0.5);
  left: 30%;
  z-index: 0;
}

.eraser-ring {
  position: absolute;
  width: 100%;
  height: 3%;
  top: 5%;
  background: $aluminum;
  z-index: 1;
}

.eraser {
  position: absolute;
  width: 100%;
  height: 5%;
  top: 0%;
  background: $red;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

.tip-wood {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: -10%;
  background-color: $brown;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.tip-container {
  position: absolute;
  bottom: -3%;
  width: 50%;
  height: 5%;
  left: 26%;
  -webkit-transform: rotate(62deg);
}

.triangle {
	position: absolute;
  width: 100%;
  bottom: 0%;
	background-color: $dark-gray;
	text-align: left;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  .5em;
	height: .5em;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}