.box
  .head
    .head-copy
    .ear-left
      .inner-ear
    .ear-right
      .inner-ear
    .eye-left
      .iris
      .pupil
    .eye-right
      .iris
      .pupil
    .trunk-top
      .trunk-bottom
    .tusk-left
    .tusk-right
    